// font-family: "Poppins", sans-serif;
// font-weight: 500;
// font-weight: 700;

:root {
    --text-color: #000000;
    --accent-orange: #FFA501;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
}

.promo {
    position: relative;
    display: flex;
    justify-content: center;
    // .promo__container
    &__container {
        position: relative;
        max-width: 1920px;
        max-height: 800px;
        overflow: hidden;
        &.overlay {
            transition: opacity .3s;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, .75);
            }
        }
    }
    // .promo__burger-icon
    &__burger-icon {
        display: flex;
        align-items: center;
        justify-content: end;
        position: absolute;
        top: 20px;
        right: 30px;
        width: 36px;
        height: 21px;
        cursor: pointer;
        span {
            display: block;
            width: 36px;
            height: 3px;
            background-color: #000;
            &:first-child {
                position: absolute;
                top: 0;
                width: 30px;
            }
            &:last-child {
                position: absolute;
                bottom: 0;
                width: 30px;
            }
        }
    }
    // .promo__social
    &__social {
        display: flex;
        align-items: center;
        position: absolute;
        top: 380px;
        left: -75px;
        column-gap: 15px;
        transform: rotate(-90deg);
    }
    // .promo__social-text
    &__social-text {
        font-size: 16px;
        font-weight: 700;
        cursor: default;
    }
    // .promo__social-line
    &__social-line {
        display: block;
            width: 70px;
            height: 2px;
            background-color: #000;
    }
    // .promo__social-icons
    &__social-icons {
        display: flex;
            column-gap: 15px;
            svg {
                transform: rotate(90deg);
                path {
                    transition: fill .3s;
                }
                &:hover {
                    path {
                        fill: var(--accent-orange);
                    }
                }

            }
    }
    // .promo__img
    &__img {
        max-width: 100%;
    }
    // .promo__wrapper
    &__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: solid 1px #000;
        border-bottom: none;
    }
    // .promo__content
    &__content {
        position: absolute;
        top: 206px;
    }
    // .promo__subtitle
    &__subtitle {
        position: relative;
        margin-left: 10px;
        margin-bottom: 9px;
        z-index: 1;
        &::after {
            content: "";
            width: 36px;
            height: 36px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            border-radius: 50%;
            background-color:  var(--accent-orange);
            z-index: -1;
        }
    }
    // .promo__title
    &__title {
        margin-bottom: 25px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.25;
    }
    // .promo__btns
    &__btns {
    }
    // .promo__btn
    &__btn {
        padding: 12px 25px 12px 25px;
        font-size: 14px;
        font-weight: 700;
        background-color: transparent;
        transition: background-color .3s, color .3s;
        &:hover {
            color: #fff;
            background-color: var(--accent-orange);
            -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
        }
        &:active {
            position: relative;
            top: 1px;
            left: 1px;
        }
    }
}

.portfolio-btn {
    background-color: var(--accent-orange);
    margin-right: 20px;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.menu {
    position: relative;
    z-index: 10;
    // .menu__body
    &__body {
        position: absolute;
        top: 0;
        left: -100%;
        width: 345px;
        height: 100vh;
        padding: 24px 25px 50px 40px;
        background-color: var(--accent-orange);
        transition: left .3s;
        &.active {
            left: 0;
        }
    }
    // .menu__icon
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 29px;
        height: 29px;
        margin-left: 251px;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            width: 40px;
            height: 3px;
            border-radius: 3px;
            background-color: #000;
            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
    // .menu__list
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 87px;
        row-gap: 15px;
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        display: flex;
        align-items: center;
        column-gap: 20px;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        transition: color .3s;
        span {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: solid 1px #000;
            transition: background-color .3s;
        }
        &:hover {
            color: #000;
            span {
                background-color: #000;
            }
        }
    }
}
