// font-family: "Poppins", sans-serif;
// font-weight: 500;
// font-weight: 700;

:root {
    --text-color: #000000;
    --accent-orange: #FFA501;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
}

.promo {
    position: relative;
    display: flex;
    justify-content: center;
    // .promo__container
    &__container {
        position: relative;
        max-width: 1920px;
        max-height: 800px;
    }
    // .promo__social
    &__social {
        display: flex;
        align-items: center;
        position: absolute;
        top: 226px;
        left: -50px;
        column-gap: 15px;
        transform: rotate(-90deg);
        // .promo__social_text
        &_text {
            font-weight: 700;
            cursor: default;
        }
        // .promo__social_line
        &_line {
            display: block;
            width: 70px;
            height: 2px;
            background-color: #000;
        }
        // .promo__social_icons
        &_icons {
            display: flex;
            column-gap: 15px;
            svg {
                transform: rotate(90deg);
                path {
                    transition: fill .3s;
                }
                &:hover {
                    path {
                        fill: var(--accent-orange);
                    }
                }

            }
        }
    }
    // .promo__img
    &__img {
        max-width: 100%;
    }
    // .promo__wrapper
    &__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: solid 1px #000;
        border-bottom: none;
    }
    // .promo__content
    &__content {
        position: absolute;
        top: 206px;
    }
    // .promo__subtitle
    &__subtitle {
        position: relative;
        margin-left: 10px;
        margin-bottom: 9px;
        z-index: 1;
        &::after {
            content: "";
            width: 36px;
            height: 36px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            border-radius: 50%;
            background-color:  var(--accent-orange);
            z-index: -1;
        }
    }
    // .promo__title
    &__title {
        margin-bottom: 25px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.25;
    }
    // .promo__btns
    &__btns {
    }
    // .promo__btn
    &__btn {
        padding: 12px 25px 12px 25px;
        font-size: 14px;
        font-weight: 700;
        background-color: transparent;
        transition: background-color .3s, color .3s;
        &:hover {
            color: #fff;
            background-color: var(--accent-orange);
            -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
        }
        &:active {
            position: relative;
            top: 1px;
            left: 1px;
        }
    }
}

.portfolio-btn {
    background-color: var(--accent-orange);
    margin-right: 20px;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

.about-btn {
}
